SyncMobile2/Service References/MediaServiceReference/Models.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSyncPath">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SyncPath" nillable="true" type="tns:SyncPath" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSyncPath" nillable="true" type="tns:ArrayOfSyncPath" />
  <xs:complexType name="SyncPath">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SyncPath" nillable="true" type="tns:SyncPath" />
  <xs:complexType name="SyncFile">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="SyncFile" nillable="true" type="tns:SyncFile" />
</xs:schema>